.first-slide {
  top: 114px;
  left: 95px;
  width: max-content;
}
#p {
  
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  text-align: left;
}
#h1 {
  
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 148%;
  text-align: left;
}
#span {
  margin-bottom: 15px;
}

.xbox-text > p {
  text-align: center;
}
.feature-items {
  display: flex;
  justify-content: center;
  gap: 83px;
  margin: 60px 0 168px 0;
}

.feature-items .feature-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}
.feature-items .feature-item img {
  width: 94px;
}

.feature-items .feature-item p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}

/* footer */

.footer-container {
  width: 100%;
  background: #0e0e0e;
}
.footer-container .footer-wraper {
  padding: 50px 92px 0px 92px;
}
.footer-container .footer-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.footer-container h4 {
  color: #f5f4f9;
  margin-bottom: 24px;
}

.footer-container ul {
  list-style: none;
  padding-left: 0;
  color: #a0a0a0;
}
.footer-container ul li {
  margin-bottom: 16px;
}
.footer-container .copy-right {
  text-align: center;
  color: #a0a0a0;
  border-top: 1px solid #ffffff0a;
  padding: 22px 0;
}
.footer-container .footer-col .social-media img {
  margin-right: 12px;
}
